[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#
#kapre = "==0.0.3"
#keras = "==1.2.2"
#theano = "==0.9"
#pandas = "<=0.25"
#scikit-learn = "*"
#numpy = ">=1.8.0"
#librosa = ">=0.4"
theano = "*"
pandas = "*"
scikit-learn = "*"
numpy = ">= 1.8.0"
librosa = ">= 0.5"
tensorflow = "<2.1.0"
keras = ">= 2.0.0"
future = "*"
kapre = "*"
matplotlib = "*"
seaborn = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.6"
